<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlowerTitan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source=Database\FlowerTitan.sqlite;Version=3;New=False;Compress=True;"/>
  </connectionStrings>
  <userSettings>
    <FlowerTitan.Properties.Settings>
      <setting name="MainWindowLocation" serializeAs="String">
        <value>200, 200</value>
      </setting>
      <setting name="LineThickness" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="PointSize" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LineColor" serializeAs="String">
        <value>Black</value>
      </setting>
    </FlowerTitan.Properties.Settings>
  </userSettings>
</configuration>
